.Items_wrap{

    padding: 20px;
    justify-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    grid-column-gap: 50px;
    grid-row-gap: 10px;


}


.Actions_wrap{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 1240px;
    box-sizing: border-box;
}

.Wish_Cart{
    display: flex;
    justify-content: space-between;
    width: 100px;
}


.FormAndSlider{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.FilteredScreen{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}




.Pagination{
    display: flex;
    justify-content: center;
    margin: 10px;
}

@media screen and (max-width: 1650px) {
    .Items_wrap {
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 20px;
    }
}

@media screen and (max-width: 1232px) {
    .Items_wrap {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        padding: 10px;
    }
    .Actions_wrap{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        width: 1200px;
        flex-direction: column;
        align-items: center;
    }
}
